azure-ai-projects
azure-ai-agents>=1.2.0b3
azure-ai-evaluation
azure-identity
python-dotenv==1.0.0
matplotlib
matplotlib-inline
numpy
pandas
opencv-python
opencv-python-headless
Pillow
azure-cosmos
azure-monitor-opentelemetry-exporter
semantic-kernel[mcp,azure]==1.36.2